################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/.vs/Api
/Api/bin/Debug/net8.0
/Api/obj/Debug/net8.0
/Api/obj
/Api/.vs/ApiBlogEmadaio
/Api/BlogEmadaio.db
*.db-shm
*.db-wal
/Api/.vs/ProjectEvaluation
